body{
  font-size: 10px;
}
.app{
  height: 100%;
  width: 100vw;
  background-color: rgb(223, 246, 246);
}
.menuWrapper{
  height: 100%;
  padding: 2rem;
}

.menuCategoryWrapper{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  border: 1px solid;
  padding: 1rem 0;
}

.menuCategories{
  font-size: 1.2rem;
  border: 2px solid rgb(22 172 245);
  padding: 1%;
  border-radius: 20px;
  width: 200px;
  max-width: 100px;
  text-align: center;
  cursor: pointer;
}

.menuCategoriesClicked{
  background: linear-gradient(45deg, rgb(214 238 249), #9fe2f4);

}

.categoryName{
  text-transform: uppercase;
}

.menuBody{
  overflow-y: scroll;
  padding: 1rem;
  border: 1px solid;
  height: calc(100vh - 11.5rem);
}

.menuItemContainer{
  display: grid;
  grid-row-gap: 2.2rem;
  margin-bottom: 1rem;
  
}

.menuItemContainer:not(:last-child){
  border-bottom: 1px solid black;
}
.menuCategoryName{
  font-size: 1.5rem;
  color: rgb(9, 9, 9);
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(45deg, rgb(214 238 249), #9fe2f4);
  padding: 1rem;
  border-radius: 1rem;
}

.menuItemWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.menuItem{
  /* max-width: 60%; */
}

.menuItemImageWrapper{
  max-width: 100%;
  max-height: 80%;
}

.menuItemImage{
  max-width: 240px;
  max-height: 240px;
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 1.5rem;
}

.menuItemImage:hover{
  transform: scale(1.2);
  box-shadow: 10px 10px 5px #caf1f8;
  transition: transform 0.5s ease-in-out;
}

.menuItemName {
  font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
  .menuItemWrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .menuItemWrapper {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

@media screen and (max-width: 768px) {
  .menuItemWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  
}

@keyframes scale {

  to {
    transform: scale(1.3);
  }
}